<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="component-tres-hijo-styles.html">
<link rel="import" href="./bower_components/cells-generic-dp/cells-generic-dp.html">

<dom-module id="component-tres-hijo">
  <script src="component-tres-hijo.js"></script>
</dom-module>